.polygon {
	padding: 30px;
}

.text {
	position: absolute;
	padding-top: 50px;
}

.vision {
	padding-top: 30px;
	padding-left: 350px;
	padding-right: 30px;
}

.feature {
	padding: 50px;
	padding-right: 200px;
}

.footer {
	background-color: rgb(71, 70, 70);
	height: 50px;
}

.security {
	padding-left: 200px;
	padding-right: 30px;
}